<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Datatables in action .Server side processing</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">    
     <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>

<body class="bg-info">
    <div class="container">
        <div class="jumbotron">
            <h2>MongoDB in action!</h2>
        </div>
    </div>
    <div class="container">
        <div>
            <table id="ProductsTable" class="table table-bordered table-sm">
                <thead>
                    <tr>
<!--                         <th>ID</th>  -->
                        <th>產品名稱</th>
                        <th>產品單價</th>
                        <th>庫存量</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>     
    <script>
        $(document).ready(function () {	
	    var table = $('#ProductsTable').DataTable({
                "paging": true,
                "pageLength": 5,
                "processing": true,
                "ordering":true,
                "serverSide": true,
                 'ajax': {
                     'type': 'post',
                     'url': '/GetProducts',
                 },
                'columns':
                    [
/*                     { 'data': '_id', "defaultContent": "", 'name': '_id' }, */
                    { 'data': 'title', "defaultContent": "", 'name': 'title' },
                    { 'data': 'price', "defaultContent": "", 'name': 'price' },
                    { 'data': 'instock', "defaultContent": "", 'name': 'instock' }
                    ],
                "columnDefs": [
                    {
                        "searchable": false,
                        "targets": 0
                    }
                ],
                select: true,
                dom: 'Bfrtip',
            });
        });
    </script>
</body>
</html>