<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('../partials/head')-%>
        <%- include('../partials/styles')-%>
            <meta charset="utf-8" />
            <title>報名活動|*找活動*</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
</head>

<body>
    <%- include('../partials/navbar')-%>
        <!--欄位: 活動報名-->
        <div style="background-color: rgb(253, 202, 196);margin: auto 60px;margin-top:80px;border-radius:30px">
            <p Align=center><img src="images/apply.png"></p>
            <!-- <ul class="nav nav-pills" style="padding:20px;">
                <li role="presentation"><a href="#InsertProducts" data-toggle="tab" class="btn btn-default">新增</a></li>
                <li role="presentation"><a href="#UpdateProducts" data-toggle="tab" class="btn btn-default">修改</a></li>
                <li role="presentation"><a href="#DeleteProducts" data-toggle="tab" class="btn btn-default">刪除</a></li>
            </ul>

            <div class="tab-content" style="padding:20px">
                <div id="InsertProducts" class="tab-pane fade">-->
                    <!-- 欄位:新增活動 -->
                    <!-- <div class="container" style="width:50%; margin:0 auto">
                        <div class="form-group">
                            <label for="insertTitle">活動名稱</label>
                            <input id="insertTitle" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="insertPrice">日期</label>
                            <input id="insertPrice" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="insertInstock">地點</label>
                            <input id="insertInstock" class="form-control" />
                        </div>
                        <div class="form-group">
                            <button onclick="InsertProducts()">新增活動</button>
                        </div>
                    </div>
                </div>
                <div id="UpdateProducts" class="tab-pane fade"> -->
                    <!-- 欄位:修改活動資料 -->
                    <!-- <div class="container"  style="width:50%; margin:0 auto">
                        <div class="form-group">
                            <label for="updateTitle">活動名稱</label>
                            <input id="updateTitle" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="updatePrice">日期</label>
                            <input id="updatePrice" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="updateInstock">地點</label>
                            <input id="updateInstock" class="form-control" />
                        </div>
                        <div class="form-group">
                            <button onclick="UpdateProducts()">修改活動資料</button>
                        </div>
                    </div>
                </div>
                <div id="DeleteProducts" class="tab-pane fade"> -->
                    <!-- 欄位:刪除活動 -->
                    <!-- <div class="container"  style="width:50%; margin:0 auto">
                        <div class="form-group">
                            <label for="deleteTitle">活動名稱</label>
                            <input id="deleteTitle" class="form-control" />
                        </div>
                        <div class="form-group">
                            <button onclick="DeleteProducts()">刪除活動</button>
                        </div>
                    </div>
                </div>
            </div> --> 

            <div id="InsertApplies" class="container" style="width:50%; margin:0 auto;">
                <div class="form-group">
                    <label for="aemail">參加者信箱：</label>
                    <div id="Members" ></div>
                    <!-- <input class="form-control" type="text" id="aemail" name="aemail" placeholder="" required /> -->
                </div>
                <div class="form-group">
                    <label for="atitle">報名活動項目：</label>
                    <div id="Products"></div>
                </div>
                <div class="form-group" Align=center>
                    <button onclick="InsertApplies()" class="btn btn-danger"><i
                            class="glyphicon glyphicon-apple"></i>送出</button>
                </div>
            </div>
        </div>
        <br>
        <%- include('../partials/scripts')-%>
            
        <!--動作: 活動報名-從DB帶出會員選項-->
        <script>
            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:1337/api/members",
                }).done(function (members) {
                    //alert(JSON.stringify(applies));
                    var str = "";
                    str += "<select id='aemail' name='aemail' >";
                    $.each(members, function (index, member) {
                        str += "<option>" + member.email +"</option>";
                    });
                    str += "</select>";
                    $("#Members").html(str);
                }).fail(function (error) {
                    alert(error.statusText);
                });
            });
        </script>
        
        <!--動作: 活動報名-從DB帶出活動選項-->
            <script>
                $(document).ready(function () {
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:1337/api/products",
                    }).done(function (products) {
                        //alert(JSON.stringify(applies));
                        var str = "";
                        str += "<select id='atitle' name='atitle' >";
                        $.each(products, function (index, product) {
                            str += "<option>" + product.price +" "+ product.title +"</option>";
                        });
                        str += "</select>";
                        $("#Products").html(str);
                    }).fail(function (error) {
                        alert(error.statusText);
                    });
                });
            </script>
            <!--動作: 活動報名-存入資料庫-->
            <script>
                function InsertApplies() {
                    var applyInsert = {
                        aemail: $("#aemail").val(),
                        atitle: $("#atitle").val(),
                    };
                    $.ajax({
                        type: "post",
                        url: "http://localhost:1337/api/applies",
                        data: applyInsert
                    }).done(function (data) {
                        alert("活動報名成功!")
                    }).fail(function (err) {
                        alert(err);
                    });
                }
            </script>

            <!--已報名活動列表-->
            <div id="GetApplies" class="tab-pane fade in active" style="margin: auto 60px;">
                已報名活動
                <button id="QueryApply" onclick="QueryApplies()"  class="btn"> 查詢</button>
                <div id="Applies"></div>
            </div>
            <script>
                $('#QueryApply').click(function QueryApplies() {
                    // const aemail = 'bbb@gmail.com'
                    var aemail = $('#aemail').val()
                    fetch(`http://localhost:1337/api/applies/${aemail}`).then(res => res.json())
                        .then(data => {
                            console.log(data)
                            var str = "";
                            str += "<table class='table table-striped table-hover'>";
                            str += "<thead>";
                            str += "<tr>";
                            str += "<td>已報名參加者</td>";
                            str += "<td>已報名活動</td>";
                            str += "</tr>";
                            str += "</thead>";
                            $.each(data, function (index, apply) {
                                str += "<tr>";
                                str += "<td>" + apply.aemail + "</td>";
                                str += "<td>" + apply.atitle + "</td>";
                                str += "</tr>";
                            });
                            str += "</tbody>";
                            str += "</table>";
                            $("#Applies").html(str);
                        });
                    $("div#Applies").toggle();
                    // $.ajax({
                    //     type: "GET",
                    //     url: "http://localhost:1337/api/applies/:aemail",
                    // }).done(apply.find({ aemail: req.params.aemail }, function (applies) {
                    //     //alert(JSON.stringify(applies));
                    //     var str = "";
                    //     str += "<table class='table table-striped table-hover'>";
                    //     str += "<thead>";
                    //     str += "<tr>";
                    //     str += "<td>已報名參加者</td>";
                    //     str += "<td>已報名活動</td>";
                    //     str += "</tr>";
                    //     str += "</thead>";
                    //     $.each(applies, function (index, apply) {
                    //         str += "<tr>";
                    //         str += "<td>" + apply.aemail + "</td>";
                    //         str += "<td>" + apply.atitle + "</td>";
                    //         str += "</tr>";
                    //     });
                    //     str += "</tbody>";
                    //     str += "</table>";
                    //     $("#Applies").html(str);
                    // }).fail(function (error) {
                    //     alert(error.statusText);
                    // }));
                });
            </script>

            <br />

</body>

</html>