<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8" />
    <title>＊找活動！歡迎光臨～＊</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <%- include('../partials/head')-%>
        <%- include('../partials/styles')-%>
</head>

<body class="bg-info">
    <%- include('../partials/navbar')-%>
        <!--【旋轉木馬】-->
        <!-- <br style="height:200px"> -->
        <div id="my-carousel" class="carousel slide" data-ride="carousel" style="margin-top:50px">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#my-carousel" data-slide-to="1"></li>
                <li data-target="#my-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img alt="First slide" src="images/fireworks4.jpeg" style="width:600px;display:block; margin:auto;">
                    <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="item">
                    <img alt="Second slide" src="images/banboo lake4.png"
                        style="width:530px;display:block; margin:auto;">
                    <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
                <div class="item">
                    <img alt="Third slide" src="images/Sand sculpture.jpeg"
                        style="hwidth:600px;display:block; margin:auto;">
                    <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

        <!--【顯示所有活動】-->
        <div class="container" style="margin-top:30px">
            <div>
                <table id="ProductsTable" class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>活動名稱</th>
                            <th>日期</th>
                            <th>地點</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

        <script>
            //      < !--動作: 顯示所有活動-- >
            $(document).ready(function () {
                var langMap = {
                    'en': 'English',
                    'zh-TW': 'Chinese-traditional'
                };
                function getLanguage() {
                    var lang = navigator.language || navigator.userLanguage;
                    return 'i18n/' + langMap[lang] + '.json';
                }
                var table = $('#ProductsTable').DataTable({
                    language: {
                        url: getLanguage()
                    },
                    "paging": true,
                    "pageLength": 5,
                    "processing": true,
                    "ordering": true,
                    "serverSide": true,
                    'ajax': {
                        'type': 'post',
                        'url': '/GetProducts',
                    },
                    'columns':
                        [
                            /*                     { 'data': '_id', "defaultContent": "", 'name': '_id' }, */
                            { 'data': 'title', "defaultContent": "", 'name': 'title' },
                            { 'data': 'price', "defaultContent": "", 'name': 'price' },
                            { 'data': 'instock', "defaultContent": "", 'name': 'instock' }
                        ],
                    "columnDefs": [
                        {
                            "searchable": false,
                            "targets": 0
                        }
                    ],
                    select: true,
                    dom: 'Bfrtip',
                });
            });
        </script>

</body>

</html>