<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head') -%>
		<%- include('../partials/styles') -%>
	</head>
	<body>
		<%- include('../partials/navbar') -%>
		<h1 class='text-danger'>發生錯誤, 請洽系統管理員</h1>
		<%- include('../partials/scripts') -%>
	</body>
</html>
