<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head') -%>
		<%- include('../partials/styles') -%>
	</head>
    <body>
        <%- include('../partials/navbar') -%>
        <div class="row" style="width:30%;margin:0 auto;padding:20px">
            <div class="col-md-4">
                <form method="post" action="/login" class="form-horizontal">
                    <div class="form-group">
                        <div>姓名:</div>
                        <input id="name" name="name" type="text" placeholder="請輸入姓名" required class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" title="登入">
                            <i class="glyphicon glyphicon-plus"></i>
                            登入
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <%- include('../partials/scripts') -%>
    </body>
</html>
